################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/.vscode
/build
/cmake-build-debug
/gcc_build
/clang_gcc
/clang_build
/msvc_build
/out/build/x64-Debug
/Folder.DotSettings.user
/twosum.h~
/.twosum.h.un~
